<div class="post">
  <h1 class="post-title"><%= @post.title %></h1>
  <p class="post-body"><%= @post.body %></p>
  <% if user_signed_in? %>
    <p class="post-user"><%= @post.user.name %></p>
  <% end %>
</div>